.app-bar {
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba($color: #232631, $alpha: 0.2);

  padding: 12px 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba($color: #ffffff, $alpha: 1);

  &__navigation {
    position: absolute;
    width: 40%;
    max-width: 250px;
    min-width: 150px;
    top: calc(70px);
    left: 0;
    background-color: #fdc886;
    transform-origin: top;
    transform: scaleY(0);
    transition: all 0.5s ease-in-out;

    &.open {
      transform: scaleY(100%);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        list-style: none;
        padding: 12px 20px;

        a {
          position: relative;
          font-size: 1rem;
          font-weight: 600;
          text-decoration: none;
          color: rgba($color: #232631, $alpha: 0.75);
        }
      }
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: center;

    h1 {
      color: #232631;
      font-size: 1.75rem;
    }
  }

  &__search {
    width: 45px;
    height: 45px;
    justify-self: right;
    padding: 12px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: rgba(35, 38, 49, 0.75);

    border-radius: 50%;
    border: 0;
    z-index: 9999;
  }

  &__menu {
    button {
      background-color: transparent;
      border: none;
      font-size: 20px;
      padding: 8px;
      cursor: pointer;
    }
  }

  search-bar.active {
    transform: translateY(0);
  }

  @media screen and (min-width: 1020px) {
    &__menu {
      display: none;
    }

    &__navigation {
      width: auto;
      max-width: inherit;
      position: static;
      background-color: transparent;
      transform: none;

      ul {
        flex-direction: row;

        li {
          &:hover a {
            font-weight: 500;
            color: rgba($color: #232631, $alpha: 1);

            &::after {
              content: '';
              height: 3px;
              background-color: #5a4fcf;

              position: absolute;
              left: 0;
              right: 0;
              bottom: -10px;
            }
          }
        }
      }
    }
  }
}
