.footer-content {
  background-color: rgba($color: #232631, $alpha: 1);
  padding: 12px 24px;
  width: 100%;
  margin-top: 20px;
  p {
    text-align: center;
    color: rgba($color: #ffffff, $alpha: 1);
  }
}
