.resto-list {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  margin: auto;

  .restos-not-found {
    display: block;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding: 12px 24px;

    p {
      font-size: 24px;
      font-style: italic;
      color: rgba($color: #232631, $alpha: 0.4);
    }
  }

  a {
    width: 100%;
    max-width: 300px;
    min-width: 150px;
    padding: 18px 0;
    margin: 24px 24px;
    background-color: rgba($color: #fdc886, $alpha: 1);

    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: rgba($color: #232631, $alpha: 1);
    border: none;
    border-radius: 12px;

    align-self: center;
    cursor: pointer;
  }
}
